.button {
  border-radius: 3px;
  display: inline-block;
  width: 100%;
  transition: 0.15s ease;
  box-sizing: border-box;

  font-weight: bold;
  font-size: $font-size-default;
  text-decoration: none;
  text-align: center;

  &--filled {
    background: $color-primary;
    color: $color-white;
    &:hover {
      background: get-hover-color($color-primary);
    }
  }
  &--ghost {
    border: 1px solid $color-primary;
    background-color: transparent;
    color: $color-primary;
    font-weight: 300;
    &:hover {
      color: $color-white;
      background-color: $color-primary;
    }
  }
  &--regular {
    padding: 16px 0;
  }
  &--small {
    padding: 12px 0;
  }

  //button jumps up when clicked
  &:active {
    transform: translateY(-6px);
  }
}
