footer {
  width: 100%;
  background-color: white;
  border-top: solid 1px rgba(0, 0, 0, 0.1);

  height: 56px;
  @include media(">=tablet") {
    height: 64px;
  }
  div {
    max-width: 1056px;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    span {
      cursor: pointer;
      margin-left: auto;
      text-decoration: none;
      font-size: $font-size-default;
      font-weight: bold;
      color: $color-primary;
      transition: 1s ease;
      &:hover {
        filter: brightness(75%);
      }
    }

    //mobile
    width: 80%;

    //tablet
    @include media(">tablet") {
      width: 90%;
      #social-media-links {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
