.tag-list {
  display: flex;
  flex-direction: row;
}

.tag {
  background-color: $color-secondary;
  color: $color-text-primary;
  border-radius: 3px;
  font-size: $font-size-small;

  margin-right: 8px;
  padding: 8px 8px;

  &:last-child {
    margin-right: 0;
  }
}
