@use "sass:color";

$color-primary: #5c8d89; //buttons
$color-primary-hover: color.adjust($color-primary, $lightness: -12.5%);
$color-secondary: #c8e6dc; //backgrounds of solid components
$color-secondary-hover: color.adjust($color-secondary, $lightness: -12.5%);
$color-text-primary: #2e2e2e; //bodies of text
$color-text-highlight: #496f6c; //headers and titles
$color-text-highlight-hover: color.adjust(
  $color-text-highlight,
  $lightness: -12.5%
);
$color-white: #f4f4f4; //background

$font-size-small: 0.85rem;
$font-size-default: 1rem;
$font-size-default-article: 1.15rem; //used for long paragraphs/articles
$font-size-medium: 1.3rem;
$font-size-big: 1.85rem;
